<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <%- include ('./partials/head.ejs') %> 
     <%- include ('./partials/nav.ejs') %>
       <title>Index</title>
</head>
<body> 
   <a href="/new"> Add New Color</a>    

    <div class="container">
        <% if (currentUser) { %>
            <% if (color.length > 0) { %>
                        <div class="flex-grid">
                        <% for (i= 0; i < color.length; i++) { %>
                            <div class="item">
                            <a  href="/:<%= color[i]._id%>"> <%=color[i].name%> </a>
                                    <div class="color-id" style="background: <%= color[i].value%>;">
                                </div>
                                <% } %>
                            </div>
                        </div>
                        <% } else { %>
                        <div class="zero-colors">
                            <p>No Colors</p>
                        </div>
                        <% } %>
                    <% } %>
            
   
    </div>
</body>
</html>