<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%- include ('./partials/head.ejs') %> 
  <%- include ('./partials/nav.ejs') %>
  
  <title>Show Page</title>
</head>  <% if (currentUser) { %>
<body>
  <div class="show-page">
      <h1> <%=color.name %></h1>
    <div class="show-id" style="background: <%=color.value%>;" ></div>
    <div class="actions">
  
    <h2><%=color.value%></h2>
  <a href="/<%=color.id%>/">Edit</a>
  <form action="/<%=color.id%>/?_method=DELETE" method="POST">
    <input type="submit" value="DELETE">
    </form>


   <% } %>
 <a href="/">Back</a>
   </div> 
  </div>
</body>

</html>